.topnav {
    background-color: #3e3e3e;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


.title{
    float: left;
    padding-left: 10px;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;}


    
.navlinks {
    float: right;
}

.navlinks a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navlinks a:hover {
    background-color: #f2f2f2;
    color: #3e3e3e;
}

/* Add a color to the active/current link */
.navlinks a.active1 {
    background-color: #313131;
    color: #f2f2f2;
}

.navlinks a.active1:hover {
    background-color: #f2f2f2;
    color: #313131;
}


body {
    margin: 0;
    padding: 0px;  
    padding-top: 60px; /* adjust to navbar height */
    background-image: url("../img/background.jpg");
    text-align: center;
    background-position: center;
}

.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 3px;
grid-row-gap: 0px;
}